#backgroundimage {
  height:50vh;
  background-image:url("Facebook-13.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  float:center;
}
.nomargin {
  margin:0;
}
.centerstuff {
  text-align:center;
}
#bottom li{
  list-style-type:none;
  display:inline-block;
  clear:none;
}
footer ul{
  background-color:#eee;
  padding:10px;
  margin:0px;
}
footer ul li {
  padding: 0px 5px;
}
#ueventheader li{
  clear:both;
  text-align:center;
  list-style-type:none;
}
#eventheader li{
  clear:both;
  text-align:center;
  list-style-type:none;
}
