#backgroundimage {
  height:40px;
  background-image:url("Facebook13.jpg");
  background-size:100% 100%;
  background-repeat: none;
}
html {
  background-image:url("Facebook13.jpg");
  background-size:100% 100%;
  background-repeat: none;
}
