#backgroundimage {
  height:50vh;
  background-image:url("Facebook-13.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  float:center;
}
.whitefill {
  background-color:white;
}
.margintop {
  margin-top:30px;
}
.bandmemberparent{
  float:left;
  font-size:8m;
}
.bandmember {
  float:center;
  font-size:6em;
}
