.whitefill {
  background-color:white;
}
.bandmemberparent h1{
  text-align:left;
  font-size:5em;
}
.bandmember h2{
  text-align:center;
  font-size:4em;
}
.bandmember p{
  text-align:center;
  font-size:2em;
}
li{
  list-style-type:none;
  display:inline-block;
  clear:none;
}
footer ul{
  background-color:#eee;
  padding:10px;
  margin:0px;
}
footer ul li {
  padding: 0px 5px;
}
#Megan {
  float:center;
  background-image:url("Megan.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
.box {
  height:50vh;
}
#Justin {
  float:center;
  background-image:url("Justin.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#Derek {
  float:center;
  background-image:url("Derek.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#Daisy {
  float:center;
  background-image:url("Daisy.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
#Addison {
  float:center;
  background-image:url("Addison.jpg");
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
}
.jumbotron {
  text-align:justify;
  padding:5vw;
  margin:0px;
}
.jumbotron h1 {
  text-align:center;
}
.navbar {
  margin:0px;
}
#sq{
  height:20px;
  width:20px;
}
