#backgroundimage {
  height:50vh;
  background-image:url("Facebook-13.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  float:center;
}
.whitefill {
  background-color:white;
}
.margintop {
  margin-top:30px;
}
.bandmemberparent h1{
  text-align:left;
  font-size:5em;
}
.bandmember p{
  text-align:center;
  font-size:4em;
}
footer ul{
  background-color:#eee;
  padding:10px;
  margin:0px;
}
footer ul li {
  padding: 0px 5px;
}
