.whitefill {
  background-color:white;
}
.bandmemberparent h1{
  text-align:left;
  font-size:5em;
}
.bandmember h2{
  text-align:center;
  font-size:4em;
}
.bandmember p{
  text-align:center;
  font-size:2em;
}
li{
  list-style-type:none;
  display:inline-block;
  clear:none;
}
footer ul{
  background-color:#eee;
  padding:10px;
  margin:0px;
}
footer ul li {
  padding: 0px 5px;
}
#Megan {
  background-image:url("Megan.jpg");
}
.box {
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:center;
}
/* portrait */
@media screen and (orientation:portrait) {
    .box{
	/* portrait-specific styles */
	height:240px;
	background-position:center;
    }
}
/* landscape */
@media screen and (orientation:landscape) {
   .box{
	/* landscape-specific styles */
	height:450px;
	background-position:top;
    }
}
#Justin {
  background-image:url("Justin.jpg");
}
#Derek {
  background-image:url("Derek.jpg")
  }
#Daisy {
  background-image:url("Daisy.jpg");
}
#Addison {
  background-image:url("Addison.jpg");
}
.jumbotron {
  text-align:justify;
  padding:16px;
  margin:0px;
}
.jumbotron h1 {
  text-align:center;
}
.navbar {
  margin:0px;
}
#sq{
  height:20px;
  width:20px;
}
.row{
  margin:0px;
}
